{% load static %}
<!DOCTYPE html>
<html>

<head>

  <!-- Metadata Included, Optimized For SEO -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Rajendra Bhagroo, Shelly Gupta, Xiaohui Chen">
  <meta name="description" content="Information Retrieval Project: Book Recommendation System">
  <meta name="keywords" content="Information Retrieval, Book Recommendation System, Collaborative Filtering">
  <meta name="robots" content="follow">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'blog/bootstrap-4.1.3-dist/css/bootstrap.min.css' %}">

  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">

  {% if title %}
  <title>Book Recommendation System - {{ title }}</title>
  {% else %}
  <title>Book Recommendation System</title>
  {% endif %}
</head>

<body>

  <!-- Header: Navbar -->
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <!-- Left Side -->
        <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">Book Recommendation System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>
            <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
          </div>
          <!-- Right Side -->
          <div class="navbar-nav">
            {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a>
            <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
            <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
            {% endif %}
          </div>
        </div>
    </nav>
  </header>

  <!-- Main: Messages -->
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
      </div>
    </div>
  </main>


  <!-- Bootstrap JS & Dependencies [jQuery, Popper.js] -->
  <script src="{% static 'blog/bootstrap-4.1.3-dist/js/jquery-3.3.1.slim.min.js' %}"></script>
  <script src="{% static 'blog/bootstrap-4.1.3-dist/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>